.flex {
	background-color: #00c7ce;
	height: 50vh;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	
}
.flex > div {
	background-color: #fff;
	margin: 5px;
	font-size: 30px;
	padding: 0 12px;
}
.flex > :first-child {
	margin-right: auto;
}

